<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <!--@@ PAGE INFO @@-->
        <meta charset="utf-8"/>
        <meta lang="fr"/>
        <meta name="author" content="Ludwig GUERIN, Raphaël BECK PROTOY"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ url_for("static", filename="favicon.ico")  }}"/>
        <meta name="keywords" content="{% block keywords %}{% endblock %}"/>

        <!--@@ IMPORTANT META @@-->
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}
        <style>

        </style>
    </head>

    <body>
        <div id="app-container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>