* {
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
/*    overflow-y: auto;*/

    margin: 0;
}

#app-container{
	width: 100vw;
	min-height: 100vh;
	height: auto;
}

#searchForm {
	display: block;
    position: relative;
    width: 80vw;
    height: 10vh;
/*
    left: calc(50% - (40vw / 2));
    top: 10vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
*/
	margin: 5vh 10vw;
    background-color: #1d2d38;
	
	display: flex;
	align-items: center;
	padding: 1vh;
}

#searchForm *{
	flex: 1;
	height: 4vh;
	padding: 1vh;
}

/*
#searchForm  *{
	float: left;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#search {
	width: 60%;
    margin-left: 1vw;
	margin-right: 0.5vw;
}
*/

#searchForm select[name="critere"] {
	width: 30%;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

#searchForm button {
	width: 10%;
    margin-left: 0.5vw;
/*	margin-right: 1vw;*/
}

#result {
    background-color: #1d2d38;
/*    margin-top: 10vh;*/
    height: 80vh;
    width: 100%;
    color: #fff;
	text-align: center;
    overflow: hidden;
    overflow-x: auto;
}

#result thead{
    box-shadow: 0 0.1vh 0.4vh 0.2vh rgba(0,0,0, 0.3);
	position: relative;
}

#result thead tr{
    position: relative;
}

#result thead tr th {
	font-size: 1.2vw;
	background-color: #3b5998;
}


#result tbody tr:nth-child(2n) td{
	border-right: 0.25vmax solid #1d2d38/*#3b5998*/;
}
#result tbody tr:nth-child(2n+1) td{
	border-right: 0.25vmax solid #e9ebee/*#3b5998*/;
}

#result tbody tr:nth-child(n) td:last-of-type{
	border-right: none;
}

#result table td,
#result table th{
	font-size: 1.05vw;
	padding: 1.5vh;
	vertical-align: middle;
}

#result tbody tr{
	display: block;
	position: relative;
}

#result tbody tr:nth-child(2n) {
	background-color: #e9ebee;
	color: black;
	box-shadow: 0 0.2vh 0.4vh 0.1vh rgba(59, 89, 152, 0.5);
	z-index: 2;
}

#result tbody tr:nth-child(2n+1) {
    background-color: #1d2d38;
}

/*#result thead{*/
    /*width: 100%;*/
    /*height: 10%;*/
/*}*/

/*#result tbody{*/
    /*width: 100%;*/
    /*height: 90%;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
/*}*/

#result table{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

#result table thead{
    flex: 0 0 auto;
    width: 100%;/*calc(100% - 1.2em);*/
}

#result table tbody{
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
}

#result table tbody tr{
    width: 100%;
/*    margin-left: 0.6em;*/
}

#result table thead, #result table tbody tr{
    display: table;
    table-layout: fixed;
}